body {
	text-align: center;
	font-family: 'Arimo', sans-serif;
	padding: 20px;
}

.subtask{

}

.question{
	text-align: left;
	float: left;
	width: 45%;
	padding: 20px;
}

.choice{
	clear: both;
	font-size: 1.3rem;
}

#firstChoice{
	color: #60d67d;
}

.choice_btn{
	text-align: center;
	background: white;
	color: #60d67d;
	border: 1px solid #60d67d;
	font-size: 1.3rem;
	padding: 10px;
	margin: 20px 40px;
	width: 100px;
}

.choice_btn:hover{
	border: 1px solid #60d67d;
	color: white;
	background: #60d67d;
	cursor: pointer;
	transition: 0.5s;
}

.robot_img{
	width: 300px;
	margin: 50px;
}